<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4"><img src='/assets/hclogo.png' width=60 height=60>&emsp;<span id="hc-text">WPCP Hack Club</span></span>
      </a>

      <ul class="nav nav-pills align-items-center">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/projects.html" class="nav-link disabled">Projects</a></li>
        <li class="nav-item"><a href="/events.html" class="nav-link">Events</a></li>
        <li class="nav-item"><a href="/resources.html" class="nav-link disabled">Resources</a></li>
        <li class="nav-item dropdown">
          <button class="nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tutorials
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/tutorials/cpp.html">C++</a>
            <a class="dropdown-item" href="/tutorials/python.html">Python</a>
          </div>
        </li>
        <li class="nav-item"><a href="/about.html" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>