<!-- Change if you think this is a flashbang -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/github-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

<!-- C/C++, Python and Rust. Feel free to add more @ https://cdnjs.com/libraries/highlight.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/cpp.min.js" integrity="sha512-hZq4EJY8EMM7w6kWktRCsnhWehJs4Tq3V8bccoMuVgwigDj5oKiLlRi59NKUw4Q43wZKK8brlPZl5r0Yo58ZXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/c.min.js" integrity="sha512-6uPEB+tN2jnZQ8gHNkW4ZiJbXUa7gIL21dsIS3UPAJyzRfDCLmm1hFGJmZ/l8RwBPeCiKTOg9BNCB+Bp9btrmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/rust.min.js" integrity="sha512-UaVgviqRWXmmHqoe0zn6hon3bcokQuz67ZboIJ80uIOCcmHw0x9P22WbK2+eqgk+27zbZGXnLhjIEXjTFqfJrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/python.min.js" integrity="sha512-MbDu8Vk2zJLvSEzk4bOYrlcS+9WE39QPnxINj2aftAG63jxOhdP5p2/Ma6/D3C9IkT/xOjZTO8MtBCX8PI48BA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // highlights all <pre><code> tags
    hljs.highlightAll();
    // highlights all <span class="code"> tags
    document.querySelectorAll('span.code').forEach(el => {
    hljs.highlightElement(el);
    });
</script>